{{template "base" .}}

{{define "content"}}

<div class="container">
      <div class="row">
            <div class="col"><p>This is the about page.</p></div>

            <p>This came from the template : {{index .StringMap "test"}}</p>
      </div>
</div>

{{end}}